@model IdentitySample.Models.ChangePersonalDataViewModel
@{
    ViewBag.Title = "Manage personal data";
}

<h2>@ViewBag.Title</h2>
<h4>View and correct your personal data</h4>
<p class="text-success">@ViewBag.StatusMessage</p>
<hr />

@using (Html.BeginForm("ChangePersonalData", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @disabled = "" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
        </div>
    </div>
    if (User.IsInRole("Patient"))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Pesel, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Pesel, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Pesel, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.Address, 2, 1, new { @class = "form-control", @style = "resize:none;overflow:hidden" })
            </div>
        </div>
    }
    if (User.IsInRole("Doctor"))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.PWZ, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.PWZ, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PWZ, "", new { @class = "text-danger" })
            </div>
        </div>
    }
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
            @Html.ActionLink("Change your password", "ChangePassword", null, new { @class = "btn btn-default btn-info" })
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}