@model IdentitySample.Models.AssignClinicsViewModel

@{
    ViewBag.Title = "Assign clinics";
}

<h2>@ViewBag.Title</h2>
<h4>Choose clinics where <mark>@Model.DoctorName</mark> works</h4>
<hr />

@using (Html.BeginForm("AssignClinics", "Doctors", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.DoctorId)


    <dl class="dl-horizontal">
        <dt>Select clinics</dt>
        <dd>
            @foreach (var item in Model.ClinicsList)
            {
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="SelectedClinic" value="@item.Value" checked="@item.Selected">
                        @item.Text
                    </label>
                </div>
            }
        </dd>
        <dt></dt>
        <dd>
            <input type="submit" value="Assign" class="btn btn-default" />
        </dd>
    </dl>
}

<div>
    @Html.ActionLink("Go back", "Index")
</div>