@model Medcare.Models.Workday

@{
    ViewBag.Title = "Delete work plan entry";
}

<h2>@ViewBag.Title</h2>
<h4>Are you sure you want to delete this entry from your work plan?</h4>
<hr/>

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Clinic.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Clinic.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Day)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Day)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.StartHour)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.StartHour)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.EndHour)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.EndHour)
    </dd>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <dd>
            <br /><input type="submit" value="Delete" class="btn btn-danger" />
        </dd>

    }
</dl>
<div>
    @Html.ActionLink("Go back", "Index")
</div>

