@model IEnumerable<Medcare.Models.Workday>

@{
    ViewBag.Title = "Work plan";
}

<h2>@ViewBag.Title</h2>
<h4>Review and modify your weekly work plan</h4>
<hr/>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Clinic.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndHour)
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Clinic.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndHour)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Create New", "Create")
</p>